<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BargainorId>1900000113</BargainorId>
  <TenpayKey>e82573dc7e6136ba414f2e2affbe39fa</TenpayKey>
  <PayFee>5</PayFee>
  <FreeMoney>100</FreeMoney>
</PluginSetInfo>