@{
    Layout = null;
}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>后台首页</title>
    <style type="text/css">
        * html frame{ overflow:hidden;}
        * html frameset{ overflow:hidden;}
        #frameLeft{ overflow:scroll;}
    </style>
</head>
<frameset rows="70,*" border="0" frameborder="0" framespacing="0">
  <frame src="@Url.Action("navbar")" name="frameTop" scrolling="no" noresize="noresize"/>
  <frameset cols="150,*" border="0" frameborder="0" framespacing="0">
    <frame src="@Url.Action("menu")" name="frameLeft" scrolling="auto" noresize="noresize"/>
	<frame src="@Url.Action("shopruninfo")" name="frameRight" noresize="noresize"/>
  </frameset>
</frameset>
<noframes>
</noframes>
</html>
