<?xml version="1.0" encoding="utf-8"?>
<CreditConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PayCreditName>金币</PayCreditName>
  <PayCreditPrice>1</PayCreditPrice>
  <DayMaxSendPayCredits>2000</DayMaxSendPayCredits>
  <OrderMaxUsePayCredits>200</OrderMaxUsePayCredits>
  <RegisterPayCredits>2</RegisterPayCredits>
  <LoginPayCredits>2</LoginPayCredits>
  <VerifyEmailPayCredits>2</VerifyEmailPayCredits>
  <VerifyMobilePayCredits>2</VerifyMobilePayCredits>
  <CompleteUserInfoPayCredits>2</CompleteUserInfoPayCredits>
  <CompleteOrderPayCredits>2</CompleteOrderPayCredits>
  <ReviewProductPayCredits>2</ReviewProductPayCredits>
  <RankCreditName>成长值</RankCreditName>
  <DayMaxSendRankCredits>200</DayMaxSendRankCredits>
  <RegisterRankCredits>2</RegisterRankCredits>
  <LoginRankCredits>2</LoginRankCredits>
  <VerifyEmailRankCredits>2</VerifyEmailRankCredits>
  <VerifyMobileRankCredits>2</VerifyMobileRankCredits>
  <CompleteUserInfoRankCredits>2</CompleteUserInfoRankCredits>
  <CompleteOrderRankCredits>50</CompleteOrderRankCredits>
  <ReviewProductRankCredits>2</ReviewProductRankCredits>
</CreditConfigInfo>