<?xml version="1.0"?>
<EmailConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Host>http://www.baidu.com</Host>
  <Port>11114444</Port>
  <UserName>zhang</UserName>
  <Password>111111</Password>
  <From>zhang@dadf.com</From>
  <FromName>/Scripts/</FromName>
  <FindPwdBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</FindPwdBody>
  <SCVerifyBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCVerifyBody>
  <SCUpdateBody>&lt;p&gt;{shopname}{siteurl}{username}{deadline}{url}&lt;/p&gt;</SCUpdateBody>
  <WebcomeBody>&lt;p&gt;{shopname}{regtime}{email}&lt;/p&gt;</WebcomeBody>
</EmailConfigInfo>