<?xml version="1.0" encoding="utf-8"?>
<EventConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BSPEventState>1</BSPEventState>
  <BSPEventPeriod>6</BSPEventPeriod>
  <BSPEventList>
    <EventInfo>
      <Key>order</Key>
      <Title>订单事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>60</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.OrderEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>cart</Key>
      <Title>购物车事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.CartEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>browsehistory</Key>
      <Title>浏览历史事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>60</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.BrowseHistoryEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productreviewcount</Key>
      <Title>同步商品评价数量</Title>
      <TimeType>0</TimeType>
      <TimeValue>30</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.ProductReviewCountEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productsalecount</Key>
      <Title>同步商品销量</Title>
      <TimeType>0</TimeType>
      <TimeValue>90</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.ProductSaleCountEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>productvisitcount</Key>
      <Title>同步商品的访问量</Title>
      <TimeType>0</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.ProductVisitCountEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
    <EventInfo>
      <Key>timeproduct</Key>
      <Title>定时商品事件</Title>
      <TimeType>1</TimeType>
      <TimeValue>120</TimeValue>
      <ClassName>BrnShop.EventStrategy.Timer.TimeProductEvent,BrnShop.EventStrategy.Timer</ClassName>
      <Code />
      <Enabled>1</Enabled>
    </EventInfo>
  </BSPEventList>
</EventConfigInfo>