<?xml version="1.0"?>
<ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <string>alipay</string>
  <string>emsremit</string>
  <string>cod</string>
  <string>qqoauth</string>
  <string>sto</string>
  <string>sf</string>
  <string>zto</string>
  <string>yto</string>
  <string>tenpay</string>
  <string>chinabank</string>
</ArrayOfString>