<?xml version="1.0"?>
<MemcachedCartConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ServerList>
    <string>127.0.0.1:11211</string>
  </ServerList>
  <MinPoolSize>10</MinPoolSize>
  <MaxPoolSize>20</MaxPoolSize>
  <ConnectionTimeOut>10</ConnectionTimeOut>
  <QueueTimeOut>10</QueueTimeOut>
  <ReceiveTimeOut>10</ReceiveTimeOut>
  <DeadTimeOut>100</DeadTimeOut>
</MemcachedCartConfigInfo>