<?xml version="1.0"?>
<RabbitMQOrderConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Server></Server>
  <VirtualHost></VirtualHost>
  <UserName></UserName>
  <Password></Password>
  <Exchange></Exchange>
  <ExchangeType></ExchangeType>
  <Queue></Queue>
  <RoutingKey></RoutingKey>
  <RabbitMQOrderRedisConfigInfo>
    <ReadWriteHost></ReadWriteHost>
    <MaxReadPoolSize></MaxReadPoolSize>
    <MaxWritePoolSize></MaxWritePoolSize>
    <InitalDB></InitalDB>
  </RabbitMQOrderRedisConfigInfo>
</RabbitMQOrderConfigInfo>