<?xml version="1.0" encoding="utf-8"?>
<RedisNOSQLConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <User>
    <Enabled>0</Enabled>
    <ReadWriteHostList>
      <string>127.0.0.1:6379</string>
    </ReadWriteHostList>
    <ReadOnlyHostList>
      <string>127.0.0.1:6379</string>
    </ReadOnlyHostList>
    <MaxReadPoolSize>5</MaxReadPoolSize>
    <MaxWritePoolSize>5</MaxWritePoolSize>
    <InitalDB>0</InitalDB>
  </User>
  <Product>
    <Enabled>0</Enabled>
    <ReadWriteHostList>
      <string>127.0.0.1:6379</string>
    </ReadWriteHostList>
    <ReadOnlyHostList>
      <string>127.0.0.1:6379</string>
    </ReadOnlyHostList>
    <MaxReadPoolSize>5</MaxReadPoolSize>
    <MaxWritePoolSize>5</MaxWritePoolSize>
    <InitalDB>0</InitalDB>
  </Product>
  <Promotion>
    <Enabled>0</Enabled>
    <ReadWriteHostList>
      <string>127.0.0.1:6379</string>
    </ReadWriteHostList>
    <ReadOnlyHostList>
      <string>127.0.0.1:6379</string>
    </ReadOnlyHostList>
    <MaxReadPoolSize>5</MaxReadPoolSize>
    <MaxWritePoolSize>5</MaxWritePoolSize>
    <InitalDB>0</InitalDB>
  </Promotion>
  <Order>
    <Enabled>0</Enabled>
    <ReadWriteHostList>
      <string>127.0.0.1:6379</string>
    </ReadWriteHostList>
    <ReadOnlyHostList>
      <string>127.0.0.1:6379</string>
    </ReadOnlyHostList>
    <MaxReadPoolSize>5</MaxReadPoolSize>
    <MaxWritePoolSize>5</MaxWritePoolSize>
    <InitalDB>0</InitalDB>
  </Order>
</RedisNOSQLConfigInfo>