<?xml version="1.0" encoding="utf-8"?>
<SMSConfigInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <Url>http://www.baidu.com22</Url>
  <UserName>zhang22www</UserName>
  <Password>88888</Password>
  <FindPwdBody>找回密码{shopname}{code}</FindPwdBody>
  <SCVerifyBody>安全中心验证校验码{shopname}{code}</SCVerifyBody>
  <SCUpdateBody>安全中心更新手机校验码{shopname}{code}</SCUpdateBody>
  <WebcomeBody>欢迎注册{shopname}{regtime}{mobile}</WebcomeBody>
</SMSConfigInfo>