<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>yto</SystemName>
  <FriendlyName>圆通快递</FriendlyName>
  <ClassFullName>BrnShop.ShipPlugin.YTO.PluginService,BrnShop.ShipPlugin.YTO</ClassFullName>
  <Folder>BrnShop.ShipPlugin.YTO</Folder>
  <Description>圆通快递</Description>
  <Type>2</Type>
  <Author>brnshop</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>