<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>emsremit</SystemName>
  <FriendlyName>邮局汇款</FriendlyName>
  <ClassFullName>BrnShop.PayPlugin.EMSRemit.PluginService,BrnShop.PayPlugin.EMSRemit</ClassFullName>
  <Folder>BrnShop.PayPlugin.EMSRemit</Folder>
  <Description>邮局汇款</Description>
  <Type>1</Type>
  <Author>brnshop</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>