<?xml version="1.0" encoding="utf-8"?>
<PluginSetInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AuthUrl>https://graph.qq.com</AuthUrl>
  <AppKey>1</AppKey>
  <AppSecret>2</AppSecret>
  <Server>qq</Server>
  <UNamePrefix>qq</UNamePrefix>
</PluginSetInfo>