<?xml version="1.0"?>
<ArrayOfShipRuleInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <ShipRuleInfo>
    <Name>全国</Name>
    <RegionId>0</RegionId>
    <RegionTitle>全国</RegionTitle>
    <Type>1</Type>
    <ExtCode1>8</ExtCode1>
    <ExtCode2>0</ExtCode2>
    <FreeMoney>50</FreeMoney>
    <CODPayFee>5</CODPayFee>
  </ShipRuleInfo>
</ArrayOfShipRuleInfo>