<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>tenpay</SystemName>
  <FriendlyName>财付通</FriendlyName>
  <ClassFullName>BrnShop.PayPlugin.Tenpay.PluginService,BrnShop.PayPlugin.Tenpay</ClassFullName>
  <Folder>BrnShop.PayPlugin.Tenpay</Folder>
  <Description>腾讯旗下支付工具</Description>
  <Type>1</Type>
  <Author>brnshop</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>