#buyTop{ padding:25px 0 0 0; position:relative;}
.buyStep{ position:absolute; right:0;top:40px;}
.buyStep li{ position:relative; border-top:5px solid #cccccc; width:160px; text-align:center; height:40px; line-height:40px; float:left;}
.buyStep li s{ width:20px; height:20px; background:#CCC; position:absolute; top:-13px; left:50%; margin-left:-10px; font-weight:bold; color:#FFF; line-height:20px;}
.buyStep li.hot{ border-top:5px solid #7abd54; color:#7abd54;}
.buyStep li.hot s{ background:#7abd54;}



#buyT{ font-size:20px; padding:20px 0; }
#buyDT{height:35px; line-height:35px;border:1px solid #ddd; border-top: 2px solid #999; background:#f7f7f7;}
#buyDT li{ float:left;}
#buyDT .checkT{ width:92px; text-align:left; padding-left:20px;}
.checkT input{ vertical-align:-2px; margin-right:5px;}
.productT{ width:370px;}
.priceT{ width:129px; text-align:right;}
.promotionT{ width:160px; text-align:center;}
.numberT{ width:126px; text-align:center;}
.actionT{ width:100px; text-align:center;}
.buyItme{ z-index:1; position:relative;}
.buyItme h2{ padding:15px 0 5px 0; margin-left:20px; font-size:12px; font-weight:normal;}
.buyItme h2 input{ vertical-align:-2px; margin-right:5px;}
.buyItmeC{ border:1px solid #ddd; border-bottom:0; padding:10px 0;}
.buyItmeC .cell{ float:left;}


.checkC{ width:30px; text-align:left; padding-left:20px;}
.checkC input{ vertical-align:-2px; margin-top:20px;}
.productC{ width:432px;}
.productC img{ border:1px solid #ddd; float:left; margin-right:10px;}
.productC a,.actionC a{ color:#005ea7;}
.productC a:hover,.actionC a:hover{ text-decoration:underline;}
.productC2{ padding-top:5px;}

.buyItme_header{height: 34px; line-height:34px;border: 1px solid #ccc;border-bottom:0;padding-left: 8px;background-color: #dbeefd; font-weight:bold;}
.buyItme_header .more{ float:right; margin-right:10px; padding-right:10px; font-weight:normal; color:#005EA7;}
.buyItme_header .more:hover{ text-decoration:underline;}
.buyItme_header .info{ width:480px; float:left; position:relative;z-index:99;}
.buyItme_header .info s{ margin-right:10px;}

.changeBuy{ position:absolute; width:430px;border:1px solid #ddd; background:#FFF; z-index:99; top:30px; display:none;}
.changeBuy h3{ background:#f3f3f3; border-bottom:1px solid #ddd; font-size:14px; color:#666; padding-left:15px; height:25px; line-height:25px; position:relative;}
.changeBuy h3 a{ position:absolute; right:5px; top:3px; width:15px; height:15px; line-height:15px; background:#FFF; border:1px solid #DDD; color:#666; font-weight:normal; font-size:12px; text-align:center; padding:0 2px 2px 0;}
.changeBuy h3 a:hover{ background: #e03033;color: #FFF;border: 1px solid #c5272c;}
.changeBuy table td{ line-height:19px; font-weight:normal; height:60px; padding-top:5px;}
.changeBuyC{height:270px;overflow-y: auto;}
.changeBuyBT{text-align:center; padding:5px 0; border-top:1px solid #DDD;}
.changeBuy table td img{ border:1px solid #ddd;}
.changeBuy table td em{ display:block; color:#c00;}
.changeBuy table a{color:#005ea7;}


.buyItme_header .price{ width:140px; text-align:right;color:#000;float:left;}
.buyItme_header s{ padding:2px 10px; background:#6cb247; color:#FFF; font-weight:normal;}
.buyItme_header .huangou{padding:1px 10px; background:#e03033; color:#FFF; border:1px solid #c5272c;}

.priceC{ width:129px; padding-top:20px; text-align:right;}
.priceC1{height: 20px;border-radius: 3px;-moz-border-radius: 3px;-webkit-border-radius: 3px;display:block; float:left;overflow: hidden;color: #fff;line-height: 20px;text-align: center;background-color: #f90; width:140px; margin:20px 10px 0 10px;}
.nopriceC1{height: 20px;display:block; float:left;line-height: 20px;width:140px; margin:20px 10px 0 10px;}

.fullSendProductTitle{ padding-left:60px;}
.fullSendProductTitle .delFullSend{float:right; margin-right:30px; padding-right:10px; font-weight:normal; color:#005EA7;}
.fullSendProductTitle .delFullSend:hover{ text-decoration:underline;}

.cartSuitItem{ margin-bottom:10px;}


.numberC{ width:90px;  padding:20px; text-align:center;}
.numberC .buyNB{ margin:0 auto; width:90px;}
.actionC{ width:60px; padding-right:20px;text-align:right; padding-top:20px;}



/*套餐付款*/
.package{ border-bottom:1px solid #DDD;}

/*结算*/
.buySum{ border:1px solid #ddd; padding:10px 0 0 0;}
.buySum .sum1{ line-height:48px; padding-left:20px; padding-bottom:10px;}
.buySum .sum1 a{ padding-left:10px;}
.buySum .sum1 input {vertical-align: -2px;}

.sum2{ margin-right:20px;}
.sum3{ margin-left:20px; width:180px;}

.buySumBt{ text-align:right;background-color: #f7f7f7;
border-top: 1px solid #ddd;height:48px;line-height: 48px; padding-right:200px; position:relative; z-index:0;}
.buySumBt b{color: #e4393c;font-size: 20px;font-weight: 400;}
.buySumBt a{ position:absolute; height:44px; line-height:44px; width:150px; text-align:center; right:0; top:0; font-size:24px;}


/*核对订单*/
#order{ margin-top:20px;}
#order h1{ background:#f7f7f7; font-size:18px; height:35px; line-height:35px; color:#444; padding-left:20px; border:1px solid #DDD;}

.orderItme{ padding:15px; border:1px solid #DDD; border-top:0;}
#order dl.hot{ padding:13px;border:3px solid #f60;}
.orderItme dt{ font-size:14px; color:#000; font-weight:bold;}
.orderItme dt a{ font-size:12px; padding-left:20px; font-weight:normal; color:#005ea7;}
.orderItme dd{ padding:10px 0 0 30px;}
.orderList li{ height:28px; line-height:28px; padding-left:10px;}
.orderList li:hover,.orderList li.hot,.orderList li.in{ background:#fff4d3;}
.orderList li b{ padding-right:20px;}
.orderList li span{ padding-left:20px; visibility:hidden;}
.orderList li:hover span,.orderList li.hot span,.orderList li.in span{ visibility:visible;}
.orderList li span a{color:#005ea7; padding-left:10px;}
.shrCell{ padding:5px 0; height:25px; line-height:25px;}
.shrCellError{border: 1px solid #db9a9a;padding: 4px 0;background-color: #ffe8e8;}
.shrCell span{ float:left; display:block; width:90px; text-align:right;}
.shrCell a{color:#005ea7;}
.cellCon{ float:left;}
.shrCell select{margin: 1px 5px 0 0; vertical-align:2px;}
.shrCell .error{padding-left: 6px;float: left;color: #c00;}
.shrCell em{ color:#f60;margin-right: 5px;font-family: sans-serif;}
.shrCell .text{height: 16px;border: 1px solid #ccc;padding: 4px 3px;}

.shrBT{ padding:15px 0;}
html body .shrBT a{ font-size:14px; font-weight:bold; padding:5px 15px;}

.zffsList{ margin-bottom:20px;}
.zffs h3{ font-size:14px; padding-bottom:5px;}


.zffs li{ height:28px; line-height:28px; padding-left:10px;}
.zffs li:hover,.zffs li.hot,.zffs li.in{ background:#fff4d3;}
.zffs li b{ padding-right:180px;}

.orderSum{ position:relative; color:#333;}
.orderSum ul{ float:right;}
.orderSum li{ width:300px;}
.orderSum li em{ width:180px;margin-right: 20px;float: left;text-align: right;}
.orderSum li b{ font-weight:normal; text-align:right; display:block; width:100px; float:left;}


.orderSum1{padding:30px;}
.orderSum1 .itme a{ color:#005ea7;}
.orderSum1 .itme a:hover{ color:#005ea7; text-decoration:underline;}
.orderSum1 .itme h3{ font-size:12px; font-weight:normal; padding:10px 0;}
.orderSum1 .itme h3 a{ background:url(/themes/default/images/jz.gif) no-repeat left top;color: #005ea7; display:block; height:15px; line-height:18px; overflow:hidden; padding-left:20px;}
.orderSum1 .itme h3 a:hover{ text-decoration:underline;}
.orderSum1 .itme h3 a.down{background:url(/themes/default/images/jz.gif) no-repeat left -15px;}
.orderSum1 .tag{ position:relative; margin-bottom:-1px;}
.orderSum1 .tag li{background:#EEFAFF;border: 1px solid #A3D1EC;
border-bottom: none;font-weight: bold;height: 25px;line-height: 25px;
margin-top: 0;width: 120px;white-space: pre; text-align:center;}
.orderSum1 .tag li a{ color:#333;}
.orderSum1 .tag li em{margin-left: 2px;color: #e4393c;font-family: "verdana";}

.itmeCon{padding: 5px 18px;border: 1px solid #A3D1EC;boder-top: none;background:#EEFAFF;border: 1px solid #A3D1EC;}
.itmeCon p{ border-bottom:1px dashed #A3D1EC; padding:10px 0 5px 0;}

.chooseYH label{ display:block; padding:2px 10px;}
.chooseYH label:hover{ background:#FFF;}
.chooseYH label input{ vertical-align:-2px; margin-right:5px;}
.itmeCon p .text{ height:20px; line-height:20px; padding:0 5px;}
.sumCon{ display:none;}


#noBuy{padding:25px 0 25px 400px;background:url(/themes/default/images/nobuy.png) no-repeat 310px center #f3f3f3;border: 1px solid #ddd;}
#noBuy a{ color:#005ea7;}