<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>cod</SystemName>
  <FriendlyName>货到付款</FriendlyName>
  <ClassFullName>BrnShop.PayPlugin.COD.PluginService,BrnShop.PayPlugin.COD</ClassFullName>
  <Folder>BrnShop.PayPlugin.COD</Folder>
  <Description>货到付款</Description>
  <Type>1</Type>
  <Author>brnshop</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>1</IsDefault>
</PluginInfo>