<h1 class="rightH1">
插件管理 &gt;&gt; 插件配置
<div class="right">
<div class="clear"></div>
</div>
<div class="clear"></div>
</h1>
<div class="addTable">
<table width="100%">
  <tr>
    <td width="70px" align="right">手续费：</td>
    <td>由配送插件决定</td>
  </tr>
</table>
</div>
