/*@webSir Css*/
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block;}
ol,ul{list-style:none;}
blockquote,q{quotes:none;}
blockquote:before,blockquote:after,q:before,q:after{content:'';content:none;}
table{border-collapse:collapse;border-spacing:0;}
*{tap-highlight-color:rgba(0,0,0,0);-webkit-tap-highlight-color:rgba(0,0,0,0);-ms-tap-highlight-color:rgba(0,0,0,0);}
body{font-family:"Microsoft YaHei",Arial,Helvetica,sans-serif;line-height:1;background: #f5f5f5;}
input,textarea{outline:0;resize:none;}
.left{ float:left;}
.right{ float:right;}
.clear{ clear:both;}
.table{display: table;width: 100%;}
.cell{display: table-cell;}
.f14{ font-size:14px;}
.gayBt{ padding:4px 20px;border: 1px solid #999;border-radius: 3px;background-color: #f5f4f4;background: -webkit-gradient(linear,0 0,0 100%,from(#fffeff),to(#f5f4f4));line-height: 29px;font-size: 14px;color: #333;color: #333;}
.redBt{padding:4px 20px;border: 1px solid #e4393c;border-radius: 3px;background-color: #f5f4f4;background: -webkit-gradient(linear,0 0,0 100%,from(#FC5C5F),to(#e4393c));line-height: 29px;font-size: 14px;color: #FFF;}

.errorBt{padding:4px 20px;border: 1px solid #ccc;border-radius: 3px;background-color: #f5f4f4;background: -webkit-gradient(linear,0 0,0 100%,from(#cccccc),to(#cccccc));line-height: 29px;font-size: 14px;color: #FFF;}

.viewport{min-width:300px;max-width:640px;margin:0 auto;}
footer{ padding:8px; background:#FFF; font-size:.85em; padding-bottom:20px;}
footer .footerTop{ border-bottom:1px solid #ddd; height:1.8em; line-height:1.5em;}
footer a{ text-decoration:none; color:#666;}
footer .footerCon{ text-align:center;padding: .71em 0 5px;}
footer .footerCon a{ padding-right:20px;}
footer .copyright{ color:#666; padding:.5em 0;}
footer .hot{ color:#e6242b;}




.new-header{position:relative;z-index:8888;height:44px;background:#e4393c;}

.new-a-back{position:absolute;top:6px;left:6px;width:30px;height:32px;}
.new-a-back span{display:inline-block;width:10px;height:18px;margin-top:6px;background:url(/mobile/themes/default/images/icon2b.png) -60px 0 no-repeat;background-size:180px 180px;text-indent:-9999px;}
.new-header h2{height:44px;line-height:44px;font-weight:normal;font-size:16px;color:#fff;text-align:center;}


.new-a-brn{position:absolute;top:6px;right:7px;width:37px;height:30px; }
.new-a-brn span{display:inline-block;width:21px;height:21px;margin:5px 0 0 8px;background:url(/mobile/themes/default/images/icon2b.png) -125px -24px no-repeat;background-size:180px 180px;text-indent:-9999px;}



.new-brn-tab{border-bottom:1px solid #d0cece;background-color:#fff;}
.new-brn-tab .new-tbl-cell{width:25%;padding:9px 0;font-size:12px;color:#fff;text-align:center;line-height:1.25em;}
.new-brn-tab .new-tbl-cell span{vertical-align:text-top;}


.new-tbl-type{display:table;width:100%;}
.new-tbl-cell{display:table-cell;}

.new-brn-tab .new-tbl-cell .icon,.new-brn-tab .new-tbl-cell .icon2,.new-brn-tab .new-tbl-cell .icon3,.new-brn-tab .new-tbl-cell .icon4{display:inline-block;width:22px;height:22px;background:url(/mobile/themes/default/images/icon2b.png) -60px -25px no-repeat;background-size:180px 180px;text-indent:-9999px;}
.new-brn-tab .new-tbl-cell .icon2{width:26px;background-position:0 -25px;}
.new-brn-tab .new-tbl-cell .icon3{width:25px;background-position:-29px -25px;}
.new-brn-tab .new-tbl-cell .icon4{width:22px;background-position:-85px -25px;}
.new-brn-tab .new-tbl-cell .icon.on{background-position:-157px 0;}
.new-brn-tab .new-tbl-cell .icon2.on{background-position:-154px -24px;}
.new-brn-tab .new-tbl-cell .icon3.on{background-position:-154px -49px;}
.new-brn-tab .new-tbl-cell .icon4.on{background-position:-155px -74px;}


.searchBox {
padding: 10px 12px 0;
}

.searchBox .newSearch {
width: auto;
margin-left: 0;
padding-right: 90px;
background-color: #fff;
border: 1px solid #999;
height: 30px;
display: block;
position: relative;
}

.searchBox .new-srch-input {
margin-right: 0;
}

.new-srch-input{width:100%;margin-right:30px;border:0;border-radius:0;background:#fff;font-size:16px;line-height:24px;font-weight:normal;color:#c3c2c2;text-indent:10px;vertical-align:top;-webkit-appearance:none;}
.new-s-close{position:absolute;top:0;right:55px;width:30px;height:30px;background:url(/mobile/themes/default/images/icon.png) 8px -973px no-repeat;}

.new-s-srch{position:absolute;top:0;right:0;width:50px;height:30px;border-left:1px solid #ccc;background:#f3f3f3;background:-webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#efefef));background:-moz-linear-gradient(top,#f7f7f7,#efefef);}
.new-s-srch span{display:block;width:50px;height:30px;background:url(/mobile/themes/default/images/icon.png) 13px -1053px no-repeat;}
.new-cp-prom{min-height:94px;padding:0 0 0 100px;border-bottom:1px solid #ccc;background:url(/mobile/themes/default/images/icon_logo2b.png) 0 10px no-repeat;background-size:89px 84px;}


.new-cate-srch{padding:10px 12px 0;}
.new-cate-srch .new-srch-box{width:auto;margin-left:0;padding-right:90px;background-color:#fff;}
.new-cate-srch .new-srch-input{margin-right:0;}


.selectPage{ text-align:center;}
.selectPage .select{ padding:3px; margin:0 10px;}
.selectPage a{ font-size:14px; color:#666;}

.checkbox{width:18px;height:18px;background-size:20px;border-radius:2px;background-image:url(/mobile/themes/default/images/check.png);background-repeat:no-repeat;-webkit-appearance: none;border: 0;border-radius: 0; vertical-align:-6px; background-size:100%;}
.checkbox:checked{background-image:url(/mobile/themes/default/images/checked.png);}


/*loading*/
.loading{color: #b2b2b2;font-size: 14px;text-align: center; padding:15px 0;}

.loadMore{font-size: 12px;color: #545353;display: block;padding:3px;border:1px solid #d6d6d6;background:#f3f3f3;background:-webkit-gradient(linear,left top,left bottom,from(#f7f7f7),to(#efefef));background:-moz-linear-gradient(top,#f7f7f7,#efefef);}
.loadMore span{padding-right: 20px;background: url(/mobile/themes/default/images/icon.png) 100% -851px no-repeat;}

.list-loading span{position: relative;width: 18px;height: 18px;display: inline-block;margin-right: 10px;vertical-align: top;background-size: 11px 9px;background-position: 5px 6px;}
.list-loading span:before {
	position:absolute;
	left:0;
	top:0;
	content:"";
	border:1px solid;
	border-color:#bbb #f0f0f0 #dcdcdc #c8c8c8;
	width:18px;
	height:18px;
	display:inline-block;
	border-radius:10px;
	-webkit-animation:rotate360 .3s linear infinite;
	-moz-animation:rotate360 .3s linear infinite;
	-ms-animation:rotate360 .3s linear infinite;
	animation:rotate360 .3s linear infinite;
}
@-webkit-keyframes rotate360 {
	0% {
	-webkit-transform:rotate(0deg);
}
100% {
	-webkit-transform:rotate(360deg);
}
}
@-moz-keyframes rotate360 {
	0% {
	-moz-transform:rotate(0deg);
}
100% {
	-moz-transform:rotate(360deg);
}
}
@-ms-keyframes rotate360 {
	0% {
	-ms-transform:rotate(0deg);
}
100% {
	-ms-transform:rotate(360deg);
}
}
@keyframes rotate360 {
	0% {
	transform:rotate(0deg);
}
100% {
	transform:rotate(360deg);
}