<?xml version="1.0" encoding="utf-8"?>
<PluginInfo xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <SystemName>alipay</SystemName>
  <FriendlyName>支付宝</FriendlyName>
  <ClassFullName>BrnShop.PayPlugin.Alipay.PluginService,BrnShop.PayPlugin.Alipay</ClassFullName>
  <Folder>BrnShop.PayPlugin.Alipay</Folder>
  <Description>阿里巴巴旗下支付工具</Description>
  <Type>1</Type>
  <Author>brnshop</Author>
  <Version>1.2</Version>
  <SupVersion>1.9.000</SupVersion>
  <DisplayOrder>3</DisplayOrder>
  <IsDefault>0</IsDefault>
</PluginInfo>